{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Réinitialisation du mot de passe</h1>
    <p class="text-center mt-5 mb-0">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form id="resetMdp" method="post">
        <label for="inputPassword"></label>
        <input class="formMain d-flex justify-content-center mt-0 pl-2"
               type="password" name="password" id="newPassword" placeholder="Mot de passe" required>
        <input class="formMain d-flex justify-content-center mt-3 pl-2"
               type="password" name="confirmPassword" id="confirmNewPassword" placeholder="Confirmation du mot de passe" required>
        <p class="text-center mt-1" id="confirmPasswordCheck"></p>
        <input type="hidden" name="token" value="{{ token }}">
        <button class="continue d-flex justify-content-center mt-3" type="submit" id="valider">
            Valider le mot de passe
        </button>
    </form>




{% endblock %}
