{% extends 'base.html.twig' %}

{% block title %}Proposition d'une nouvelle formation{% endblock %}

{% block body %}
    <h4 class="titlePage mt-5 mb-5">Proposer une formation</h4>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Voir les dernières formations</a>
{% endblock %}
