<form method="post" action="{{ path('proposition_babysitting_delete', {'slug': proposition.slug}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette proposition?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proposition.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
