{% extends 'base.html.twig' %}

{% block title %}Proposition de babysitting{% endblock %}

{% block body %}
    <h4 class="titlePage mt-5 mb-5">proposer mon aide pour faire du babysitting</h4>

    {{ include('proposition/babysitting/_form.html.twig') }}

    <a href="{{ path('proposition_babysitting_index') }}">Voir les dernières propositions de babysitting</a>
{% endblock %}


