<div class="row mb-4">
    <div class="col">
        <div class="logoBandeau">
            <a href="javascript:history.back()">
                <img src="{{ asset('build/uploads/logo/logoRouge.png') }}"
                    class="logoIhelp mx-auto d-block" alt="jaibesoindaide">
            </a>
        </div>
    </div>
</div>
