<div class="row mb-4">
    <div class="col">
        <div class="logoBandeau">
            <a href="javascript:history.back()">
                <img src="{{ asset('build/uploads/logo/logoVert.png') }}"
                     class="logoIhelp mx-auto d-block" alt="jepeuxaider">
            </a>
        </div>
    </div>
</div>

