{% extends 'base.html.twig' %}

{% block title %}Disclaimer{% endblock %}

{% block body %}
   {% include 'partial/header.html.twig'%}
    <div class="row">
        <div class="col">
                <p class="titleForm"><h1 class="disclaimer-text">Informations relatives à la protection des données</h1></p>

                <p class="disclaimer-text">Les présentes informations relatives à la protection des données vous expliquent comment et pour quelles finalités la
                    plateforme #aidetonvoisin traite les données à caractère personnel vous concernant et quels sont vos droits et possibilités dans ce cadre.</p>

                <h2 class="disclaimer-text">RESPONSABLE DU TRAITEMENT DES DONNEES A CARACTERE PERSONNEL VOUS CONCERNANT :</h2>
                <p class="disclaimer-text">Nous, gaea21, Avenue des Morgines 9, 1213 Lancy, Suisse, sommes le responsable pour toutes les données à caractère
                    personnel que vous mettez à disposition dans le cadre de votre utilisation de notre site web
                    <a href="https://aidetonvoisin.sustlivprogram.org">http://aidetonvoisin.sustlivprogram.org/</a></p>
                <h2 class="disclaimer-text">CATEGORIES DE DONNEES A CARACTERE PERSONNEL COLLECTEES :</h2>
                <p class="disclaimer-text">
                    Nous collectons et traitons les catégories de données à caractère personnel suivantes :<br>
                    Nom complet, pays, ville, code postal, lorsque vous les écrivez pour utiliser les plateformes d’entraide du site telles que
                    <a href="http://aidetonvoisin.sustlivprogram.org/view/goShop.php">http://aidetonvoisin.sustlivprogram.org/view/goShop.php</a> ou
                    <a href="https://aidetonvoisin.sustlivprogram.org/view/formAnnonce.php">https://aidetonvoisin.sustlivprogram.org/view/formAnnonce.php</a>
                    par exemple.</p>
                <h2 class="disclaimer-text">FINALITES DU TRAITEMENT DES DONNÉES A CARACTÈRE PERSONNEL VOUS CONCERNANT :</h2>
                <p class="disclaimer-text">
                    Nous ne traiterons les données à caractère personnel vous concernant que pour les finalités suivantes :<br>
                    Mise en place du service #aidetonvoisin en proposant la mise en relation de personnes pouvant aider avec des personnes
                    en recherche d’aide.</p>
                <h2 class="disclaimer-text">DROITS ET CONTACT :</h2>
                <p class="disclaimer-text">
                    Vous pouvez retirer votre consentement au traitement de vos données personnelles en tout temps.<br>
                    Vous avez également le droit à leur exactitude et leur correction en ce sens en tout temps.<br>
                    Vous pouvez nous contacter à l’adresse: <a href="mailto:aidetonvoisin@gaea21.org">aidetonvoisin@gaea21.org</a> pour l’exercice de vos droits ou toute demande
                    d’information supplémentaire.
                    // ajouter adresse physique Personne (gaea21) responsable.
                </p>
        </div>
    </div>

{% endblock %}
