<div id="carouselExampleSlidesOnly" class="carousel " data-ride="">
    <div class="carousel-inner head">
        <img src="{{ asset('build/uploads/header/HeaderCOVID.png') }}" class="d-block w-100" alt="...">
    </div>
</div>
