{% extends 'base.html.twig' %}

{% block title %}Edit Annonce course{% endblock %}

{% block body %}

    <h2 class="text-center mt-4 mb-4">Editer l'annonce</h2>
    <h3 class="text-center mt-4 mb-4">{{ annonce.nom }}</h3>
    {{ include('annonce/courses/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="row">
        <div class="col">
            <h6 class="text-center mt-0">
                {{ include('annonce/courses/_delete_form.html.twig') }}
                <a href="{{ path('account_user') }}">Retourner à mon profil</a>
            </h6>
        </div>
    </div>

{% endblock %}
