<form method="post" action="{{ path('gaming_delete', {'slug': gaming.slug}) }}" onsubmit="return confirm('Veuillez confirmer la suppression');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gaming.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
